@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 8%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8%;
    --primary: 216 41% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 8%;
    --muted: 0 0% 94%;
    --muted-foreground: 220 5% 42%;
    --accent: 216 41% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 216 41% 39%;
    --divider: 0 0% 84%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans selection:bg-accent/10 selection:text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight font-bold;
  }
}

@layer components {
  .nav-link {
    @apply relative py-1;
  }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    @apply bg-accent transition-all duration-300;
  }
  .nav-link:hover::after {
    width: 100%;
  }
}

.prose-quoteless blockquote p:before,
.prose-quoteless blockquote p:after {
  content: none !important;
}
